.new-article-btn {
  margin-top: 10px;
}

.fa-github {
  font-size: 30px;
}

.git-icon {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.5s ease-out;
  -moz-transition:  0.5s ease-out;
  transition:  0.5s ease-out;
}

.git-icon:hover {
  text-decoration: none;
  color: #0099ff;
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.title-link {
  text-decoration: none;
  color: #000;
}

.title-link:hover {
  text-decoration: none;
  color: #2c7df7;
}

textarea {
  display: block;
  height: 200px;
  font-size: 16px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
}

#note {
  text-transform: uppercase;
  font-size: 13px;
  color: #616161;
  letter-spacing: 1px;
}

.btn-outline-success {
  background-color: red ;
  color: white ;
}

nav {
  z-index: 1;
}

#title {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
}

#title h1 {
  font-size: 3em;
  padding-bottom: 10px;
}

#title h4 {
 font-family: Georgia, 'Times New Roman', Times, serif
}

header {
background-image: url(img/header-img.jpg);
background-repeat: no-repeat;
height: 100%;
position: relative;
}

#header-img {
  min-height: 70vh;
  overflow: hidden;
}

.card-width {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}